.school-registration-form {
    &.was-validated {
        .form-control:valid,
        .form-select:valid {
            background-image: none;
            background-size: 0 0;
            border-color: var(--bs-border-color);
            box-shadow: none;
            padding-right: .75rem;
        }
    }
}